In [13]:
import pandas as pd
import numpy as np

In [85]:
df = pd.read_excel("/Users/nyagaderrick/Developer/Report_automation/January 2024 Attendance-USIU.xlsx")

In [86]:
df.head()

            Name      Date Clock In Clock Out
0  Jackline Oira  1/1/2024      NaN       NaN
1  Jackline Oira  1/2/2024    07:55       NaN
2  Jackline Oira  1/3/2024    07:49     18:00
3  Jackline Oira  1/4/2024    07:41     17:59
4  Jackline Oira  1/5/2024    11:25     17:57

In [87]:
#convert date column from this format 1/1/2024 to this format dd/mm/yyyy
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%d/%m/%Y')

In [89]:
df.head(50)

              Name        Date Clock In Clock Out
0    Jackline Oira  01/01/2024      NaN       NaN
1    Jackline Oira  02/01/2024    07:55       NaN
2    Jackline Oira  03/01/2024    07:49     18:00
3    Jackline Oira  04/01/2024    07:41     17:59
4    Jackline Oira  05/01/2024    11:25     17:57
5    Jackline Oira  06/01/2024    08:18     13:22
6    Jackline Oira  08/01/2024    07:43     18:08
7    Jackline Oira  09/01/2024    07:45     18:11
8    Jackline Oira  10/01/2024    07:51     18:02
9    Jackline Oira  11/01/2024    07:42     17:56
10   Jackline Oira  12/01/2024    07:49     17:53
11   Jackline Oira  13/01/2024    07:41     13:06
12   Jackline Oira  15/01/2024    07:31     18:05
13   Jackline Oira  16/01/2024    07:38     18:01
14   Jackline Oira  17/01/2024    07:30     17:38
15   Jackline Oira  18/01/2024    07:20     18:10
16   Jackline Oira  19/01/2024    07:33     17:58
17   Jackline Oira  20/01/2024      NaN       NaN
18   Jackline Oira  22/01/2024    07:13     17:52
19   Jackline Oira  23/01/2024    07:37     18:15
20   Jackline Oira  24/01/2024    07:17       NaN
21   Jackline Oira  25/01/2024    07:21     18:05
22   Jackline Oira  26/01/2024    07:19     17:49
23   Jackline Oira  27/01/2024    08:00       NaN
24   Jackline Oira  29/01/2024    07:52     18:10
25   Jackline Oira  30/01/2024    07:23     18:04
26   Jackline Oira  31/01/2024    07:17     18:09
27  Kennedy Mungai  01/01/2024      NaN       NaN
28  Kennedy Mungai  02/01/2024    07:40     18:00
29  Kennedy Mungai  03/01/2024    07:49     18:01
30  Kennedy Mungai  04/01/2024    07:41     18:35
31  Kennedy Mungai  05/01/2024    07:45     18:02
32  Kennedy Mungai  06/01/2024      NaN     13:15
33  Kennedy Mungai  08/01/2024    07:53     18:24
34  Kennedy Mungai  09/01/2024    07:59     18:22
35  Kennedy Mungai  10/01/2024    07:54     18:05
36  Kennedy Mungai  11/01/2024    07:54     18:13
37  Kennedy Mungai  12/01/2024    08:05     18:19
38  Kennedy Mungai  13/01/2024      NaN     13:05
39  Kennedy Mungai  15/01/2024      NaN     18:17
40  Kennedy Mungai  16/01/2024    07:51     18:24
41  Kennedy Mungai  17/01/2024    07:59     18:20
42  Kennedy Mungai  18/01/2024    08:09     18:48
43  Kennedy Mungai  19/01/2024    08:01     18:49
44  Kennedy Mungai  20/01/2024    07:47     12:59
45  Kennedy Mungai  22/01/2024    07:55     18:00
46  Kennedy Mungai  23/01/2024    08:00     18:16
47  Kennedy Mungai  24/01/2024    08:00     18:18
48  Kennedy Mungai  25/01/2024    07:54     19:51
49  Kennedy Mungai  26/01/2024    08:00     18:07

In [90]:
#save that to the excel sheet 
df.to_excel("/Users/nyagaderrick/Developer/Report_automation/January 2024 Attendance-USIU.xlsx", index=False)