In [43]:
import pandas as pd
import datetime

In [44]:
df = pd.read_excel('/Users/nyagaderrick/Developer/Report_automation/JAN_2024_KENCOM_report.xlsx', sheet_name='Sheet1')

In [45]:
df.head

<bound method NDFrame.head of           Date               Name CHECK IN TIME CHECK OUT TIME
0   2024-01-01     Rachael Mashao             _              _
1          NaT     Vanessa Odundo             _              _
2          NaT        Bilal Hasan             _              _
3          NaT     Munene Naftaly             _              _
4          NaT       Peter Omanya             _              _
..         ...                ...           ...            ...
372        NaT          Ann Ngige         10:58          18:17
373        NaT      Beril Achieng         07:36          18:03
374        NaT       Betty Kimani         07:24          18:01
375        NaT  Florence Njunguna         06:38          18:07
376        NaT      Rita Wangechi         18:15              _

[377 rows x 4 columns]>

In [46]:
# Read the leave data
leave_data = pd.read_excel('/Users/nyagaderrick/Developer/Report_automation/leave_staff.xlsx')

# Split the 'Period_of_leave' column into 'From' and 'To' columns
leave_data[['From', 'To']] = leave_data['Period_of_leave'].str.split(' to ', expand=True)

# Convert the 'From' and 'To' columns to datetime format
leave_data['From'] = pd.to_datetime(leave_data['From'], format='%d/%m/%Y')
leave_data['To'] = pd.to_datetime(leave_data['To'], format='%d/%m/%Y')

In [52]:
leave_data.head()

             Name           Period_of_leave Return_date       From         To
0   Lyne Macharia  10/01/2024 to 15/01/2024  2024-01-16 2024-01-10 2024-01-15
1  Vanessa Odundo  02/10/2024 to 05/01/2024  2024-01-06 2024-10-02 2024-01-05
2       Ann Ngige  27/12/2023 to 02/01/2024  2024-01-03 2023-12-27 2024-01-02
3  Moreen Mburugu  02/01/2024 to 12/01/2024  2024-01-13 2024-01-02 2024-01-12
4   Joan Khabugwi   27/12/2023 to 3/01/2024  2024-01-04 2023-12-27 2024-01-03

In [53]:
# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

In [54]:
df['Date'].head()

0   2024-01-01
1          NaT
2          NaT
3          NaT
4          NaT
Name: Date, dtype: datetime64[ns]

In [57]:
for index, row in leave_data.iterrows():
    employee = row['Name']
    from_date = row['From'].date()
    to_date = row['To'].date()
    print(f"Employee: {employee}, From: {from_date}, To: {to_date}")  # Print the values
    df.loc[(df['Name'] == employee) & (df['Date'].dt.date >= from_date) & (df['Date'].dt.date <= to_date), ['CHECK IN TIME', 'CHECK OUT TIME']] = 'Off'

Employee: Lyne Macharia, From: 2024-01-10, To: 2024-01-15
Employee: Vanessa Odundo, From: 2024-10-02, To: 2024-01-05
Employee: Ann Ngige, From: 2023-12-27, To: 2024-01-02
Employee: Moreen Mburugu, From: 2024-01-02, To: 2024-01-12
Employee: Joan Khabugwi, From: 2023-12-27, To: 2024-01-03
Employee: Bilal Hasan, From: 2023-12-27, To: 2024-01-08
Employee: Lorna Kuria, From: 2024-01-02, To: 2024-01-03
Employee: Rachael Mashao, From: 2023-12-19, To: 2023-12-30

In [56]:
# check if theres off days- off
df['CHECK IN TIME'] == 'Off'

0      False
1      False
2      False
3      False
4      False
       ...
372    False
373    False
374    False
375    False
376    False
Name: CHECK IN TIME, Length: 377, dtype: bool

In [42]:
df.to_excel('/Users/nyagaderrick/Developer/Report_automation/JAN_KENCOM_REPORT.xlsx', sheet_name='Sheet1', index=False, engine='openpyxl')

In [ ]:
# Create a new Excel file from the df DataFrame
df.to_excel('/path/to/your/new/excel/file.xlsx', sheet_name='Sheet1', index=False)